%div{style: "width: 96%; margin: 0 2%;"}

  %h1 UNESCO World Heritage Sites

  %input{type: 'checkbox', name: 'edit_mode', id: 'edit_mode'}
  %label{for: 'edit_mode'} Edit Mode

  #map{style: "height: 90vh;"}


:javascript
  function editMode() {
    return $('#edit_mode').is(':checked');
  }

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 2,
      center: new google.maps.LatLng(20,0),
    });

    // Load all sites from DB
    var sites = #{JSON.dump(Site.all.to_a.as_json)};
    window.sites = sites;
    var selected_sites = new BitArray(2048);
    var selected_icon = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';

    // Parse query string
    var url = new Url;
    if (url.query.map) {
      selected_sites = new BitArray(2048, LZString.decompressFromEncodedURIComponent(url.query.map));
    }

    var infowindow = new google.maps.InfoWindow({});

    // Build a marker per site
    var markers = $.map(sites, function(site) {
      var icon = undefined;
      if (selected_sites.get(site.site_id)) {
        icon = selected_icon;
      }
      var latLng = new google.maps.LatLng(site.latitude, site.longitude);
      var marker = new google.maps.Marker({
        position: latLng,
        map: map,
        icon: icon
      });
      marker.site = site;
      site.marker = marker;

      // Bind click on marker event
      google.maps.event.addListener(marker, 'click', function() {
        if (editMode()) {
          infowindow.setContent("<a href='" + site.url +"' target='_blank'>" + site.name + "</a>&nbsp;<button class='btn btn-success btn-xs' data-site-id='" + site.site_id + "'>Toggle</button>");
        }  else {
          infowindow.setContent("<a href='" + site.url +"' target='_blank'>" + site.name + "</a>");
        }

        // Show info window
        infowindow.open(map, marker);
      });

      return marker;
    });

    var markerCluster = new MarkerClusterer(map, markers, {ignoreHidden: true, imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

    // Handle toggle button within marker infowindow
    $(document).on('click', 'button', function() {
      var site_id = $(this).data('site-id');

      // Find the marker (is there a much better way?)
      var marker = undefined;
      $.each(sites, function(i, site) {
        if (site.site_id == site_id) {
          marker = site.marker;
        }
      });

      // Toggle selection state
      if (selected_sites.get(site_id)) {
        marker.setIcon(undefined);
        selected_sites.set(site_id, false);
      } else {
        marker.setIcon(selected_icon);
        selected_sites.set(site_id, true);
      }

      // Update Url String
      var url = new Url;
      url.query.map = LZString.compressToEncodedURIComponent(selected_sites.toHexString());
      window.history.replaceState(undefined, 'Unesco Map', url.toString())
    });

    // Toggle edit mode
    $('#edit_mode').change( function() {
      infowindow.close();

      // In RO mode, hide unselected markers
      $.each(markers, function(i, marker) {
        marker.setVisible(editMode() || selected_sites.get(marker.site.site_id));
      });

      markerCluster.repaint();
    });

    $('#edit_mode').change();
  }

%script{async: true, defer: true, src: "//maps.googleapis.com/maps/api/js?key=AIzaSyDIKvMNEr7qLDhIfzN6_LbmvpJvTpMT6qs&callback=initMap"}
