%nav.navbar.navbar-default.navbar-static-top
	.container-fluid
		.navbar-header
			%button.navbar-toggle.collapsed{data: {toggle: 'collapse', target: 'navbar-collapse'}, aria: {expanded: 'false'}}
				%span.sr-only Toggle Navagation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
		%a.navbar-brand{href: FoxTrot::Application.config.root_url}= FoxTrot::Application.config.brand
